<p>prideti-patiekala works!</p>

<div class="pagrindinis">
    <h2>Pridėkite naują patiekalą</h2>

    <div class="forma">

        <form [formGroup]="patiekaloForma" (ngSubmit)="naujasPatiekalas()">
            
            <input type="text" placeholder="Patiekalo pavadinimas" formControlName="pavadinimas">
            <br><br>
            <input type="text" placeholder="Patiekalo kaina" formControlName="kaina">
            <br><br>
            <button>Pridėti patiekalą</button>

        </form>
    </div>
</div>