

<app-drop-down></app-drop-down>
<!-- <ng-container *ngIf="product.length !=0"> -->
<ng-container *ngIf="patiekalas.length !=0">  
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Eilės nr.</th>
                            <th>Patiekalas</th>
                            <th>Kaina</th>
                            <th>Kiekis</th>
                            <th>Suma</th>
                            <th>Veiksmai</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of patiekalas; let i = index">
                            
                            <td style="width: 10%; text-align: center;">{{i+1}}</td>
                            <td style="text-align: center;">{{item.pavadinimas}}</td>
                            <td style="width: 5%;">{{item.kaina}}</td>
                            <td style="width: 25%; align-items: center;"><app-kiekio-mygtukas></app-kiekio-mygtukas></td>
                            <td style="width: 2%; text-align: center;">{{item.kaina}}</td>
                            <td style="width: 12%;"><button (click)="salintiPatiekala(item)" mat-raised-button color="warn">Šalint</button></td>
                            
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="pateiktiUzsakyma()" class="btn btn-danger">Pateikti užsakymą</button></td>
                            
                            <td><button (click)="uzdarytiStala()" class="btn btn-success">Uždaryti stalą</button></td>
                            <td><strong>Suma yra: ${{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    </ng-container>
    
    
    
    <ng-container *ngIf="patiekalas.length ==0">
        <div class="container">
            <div class="card">
                <h5 class="card-title">Stalas 1</h5>
            </div>
            <div class="center">
                <img src="https://www.nicepng.com/png/detail/187-1873095_png-royalty-free-download-empty-dinner-table-setting.png" alt="">
                <h4>Jūsų stalas tuščias</h4>
                <!-- <h6>Pridėti prekių į krepšelį</h6>
                <button routerLink="/products" class="btn btn-primary">Pradėti užsakymą</button> -->
            </div>
        </div>
    </ng-container>

    